================================================================================
真实数据库完整 schema
================================================================================

-- account_balance
CREATE TABLE IF NOT EXISTS account_balance (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    account_code TEXT NOT NULL,
    account_name TEXT NOT NULL,
    opening_balance REAL DEFAULT 0,
    debit_amount REAL DEFAULT 0,
    credit_amount REAL DEFAULT 0,
    ending_balance REAL DEFAULT 0,
    direction TEXT DEFAULT '借',
    assist_dimensions TEXT,
    is_internal INTEGER DEFAULT 0,
    counterparty TEXT,
    is_locked INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- account_mapping
CREATE TABLE IF NOT EXISTS account_mapping (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    local_code TEXT NOT NULL,
    local_name TEXT,
    standard_code TEXT NOT NULL,
    standard_name TEXT,
    mapping_type TEXT DEFAULT '精确映射',
    effective_from TEXT,
    effective_to TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- balance_sheet
CREATE TABLE IF NOT EXISTS balance_sheet (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    side TEXT NOT NULL,
    item_name TEXT NOT NULL,
    line_number TEXT,
    ending_balance REAL DEFAULT 0,
    opening_balance REAL DEFAULT 0,
    is_subtotal INTEGER DEFAULT 0,
    sort_order INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- balance_sheet_template
CREATE TABLE IF NOT EXISTS balance_sheet_template (
    id INTEGER PRIMARY KEY,
    line_no INTEGER NOT NULL,
    item_name TEXT NOT NULL,
    bs_category TEXT NOT NULL,
    is_subtotal INTEGER DEFAULT 0,
    subtotal_group TEXT,
    formula_type TEXT DEFAULT '科目范围',
    account_ranges TEXT,
    sql_expression TEXT,
    indent_level INTEGER DEFAULT 0,
    is_bold INTEGER DEFAULT 0,
    sort_order INTEGER DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- cashflow_template
CREATE TABLE IF NOT EXISTS cashflow_template (
    id INTEGER PRIMARY KEY,
    line_no INTEGER NOT NULL,
    item_name TEXT NOT NULL,
    cf_category TEXT NOT NULL,
    is_subtotal INTEGER DEFAULT 0,
    subtotal_group TEXT,
    formula_type TEXT DEFAULT '科目范围',
    account_ranges TEXT,
    sql_expression TEXT,
    sign TEXT DEFAULT '+',
    indent_level INTEGER DEFAULT 0,
    is_bold INTEGER DEFAULT 0,
    sort_order INTEGER DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- companies
CREATE TABLE IF NOT EXISTS companies (
    code TEXT PRIMARY KEY,
    name TEXT NOT NULL,
    short_name TEXT,
    parent_code TEXT,
    level INTEGER DEFAULT 0,
    tree_path TEXT,
    is_leaf INTEGER DEFAULT 1,
    is_consolidated INTEGER DEFAULT 1,
    status INTEGER DEFAULT 1,
    currency TEXT DEFAULT 'CNY',
    industry TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- company_aliases
CREATE TABLE IF NOT EXISTS company_aliases (
    id INTEGER PRIMARY KEY,
    alias TEXT NOT NULL,
    company_code TEXT NOT NULL,
    source TEXT DEFAULT 'manual',
    status INTEGER DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- exchange_rates
CREATE TABLE IF NOT EXISTS exchange_rates (
    id INTEGER PRIMARY KEY,
    from_currency TEXT NOT NULL,
    to_currency TEXT NOT NULL,
    rate REAL NOT NULL,
    rate_date TEXT NOT NULL,
    rate_type TEXT DEFAULT '即期汇率',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- financial_report_data
CREATE TABLE IF NOT EXISTS financial_report_data (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    report_type TEXT NOT NULL,
    line_no INTEGER,
    item_name TEXT,
    amount1 REAL DEFAULT 0,
    amount2 REAL DEFAULT 0,
    direction TEXT,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- import_logs
CREATE TABLE IF NOT EXISTS import_logs (
    id INTEGER PRIMARY KEY,
    batch_no TEXT NOT NULL,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    report_type TEXT NOT NULL,
    file_name TEXT,
    file_path TEXT,
    status TEXT DEFAULT '处理中',
    total_rows INTEGER DEFAULT 0,
    success_rows INTEGER DEFAULT 0,
    error_rows INTEGER DEFAULT 0,
    error_detail TEXT,
    operator TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- income_statement
CREATE TABLE IF NOT EXISTS income_statement (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    item_name TEXT NOT NULL,
    period1_value REAL DEFAULT 0,
    period2_value REAL DEFAULT 0,
    period3_value REAL DEFAULT 0,
    period4_value REAL DEFAULT 0,
    sort_order INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    original_name TEXT,
    cumulative_value REAL DEFAULT 0
);

-- income_statement_template
CREATE TABLE IF NOT EXISTS income_statement_template (
    id INTEGER PRIMARY KEY,
    line_no INTEGER NOT NULL,
    item_name TEXT NOT NULL,
    is_subtotal INTEGER DEFAULT 0,
    subtotal_group TEXT,
    formula_type TEXT DEFAULT '科目范围',
    account_ranges TEXT,
    sql_expression TEXT,
    sign TEXT DEFAULT '+',
    indent_level INTEGER DEFAULT 0,
    is_bold INTEGER DEFAULT 0,
    sort_order INTEGER DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- mgmt_dept_income_cost
CREATE TABLE IF NOT EXISTS mgmt_dept_income_cost (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    dept_code TEXT NOT NULL,
    dept_name TEXT NOT NULL,
    income_amount REAL DEFAULT 0,
    cost_amount REAL DEFAULT 0,
    expense_amount REAL DEFAULT 0,
    profit_amount REAL DEFAULT 0,
    is_locked INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- non_subject_allocation
CREATE TABLE IF NOT EXISTS non_subject_allocation (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    cost_center TEXT NOT NULL,
    account_code TEXT,
    account_name TEXT,
    allocation_base REAL DEFAULT 0,
    allocated_amount REAL DEFAULT 0,
    ratio REAL DEFAULT 0,
    is_locked INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- non_subject_mgmt_dept_income_cost
CREATE TABLE IF NOT EXISTS non_subject_mgmt_dept_income_cost (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    dept_code TEXT NOT NULL,
    dept_name TEXT NOT NULL,
    subject_type TEXT NOT NULL,
    income_amount REAL DEFAULT 0,
    cost_amount REAL DEFAULT 0,
    expense_amount REAL DEFAULT 0,
    profit_amount REAL DEFAULT 0,
    is_locked INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- non_subject_teaching_fee
CREATE TABLE IF NOT EXISTS non_subject_teaching_fee (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    teacher_id TEXT NOT NULL,
    teacher_name TEXT,
    course_type TEXT NOT NULL,
    hours REAL DEFAULT 0,
    rate REAL DEFAULT 0,
    total_amount REAL DEFAULT 0,
    is_locked INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ownership
CREATE TABLE IF NOT EXISTS ownership (
    id INTEGER PRIMARY KEY,
    parent_code TEXT NOT NULL,
    sub_code TEXT NOT NULL,
    ownership_pct REAL NOT NULL DEFAULT 100,
    effective_date TEXT NOT NULL,
    expiration_date TEXT,
    is_control INTEGER DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- pl_detail
CREATE TABLE IF NOT EXISTS pl_detail (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    item_code TEXT NOT NULL,
    item_name TEXT NOT NULL,
    category TEXT NOT NULL,
    amount REAL DEFAULT 0,
    dept_code TEXT,
    dept_name TEXT,
    remark TEXT,
    is_locked INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- revenue_volume
CREATE TABLE IF NOT EXISTS revenue_volume (
    id INTEGER PRIMARY KEY,
    company_code TEXT NOT NULL,
    period TEXT NOT NULL,
    product_line TEXT NOT NULL,
    customer_count INTEGER DEFAULT 0,
    revenue_amount REAL DEFAULT 0,
    unit_price REAL DEFAULT 0,
    is_locked INTEGER DEFAULT 0,
    import_batch TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- standard_accounts
CREATE TABLE IF NOT EXISTS standard_accounts (
    code TEXT PRIMARY KEY,
    name TEXT NOT NULL,
    category TEXT NOT NULL,
    balance_direction TEXT DEFAULT '借',
    level INTEGER DEFAULT 1,
    parent_code TEXT,
    is_leaf INTEGER DEFAULT 1,
    status INTEGER DEFAULT 1,
    sort_order INTEGER DEFAULT 0
);
